.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  margin: 40px;
  width: 300px; /* Set the desired width of the card */
  height: 300px; /* Set the desired height of the card */
  display: flex;
  justify-content: center;
  align-items: center;
}
